.ct{
    margin: 50px auto;
    width: 500px;
    padding: 20px;
    background: rgba(2,110,10,0.3);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
#cen{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
#ka{
    margin-top: 20px;
    margin-left: 160px;
    cursor: pointer;
    color: white;
    background: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}
body{
    background-image: url();
}
.ovf{
    .container {
        width: 200px; /* Đặt chiều rộng khung */
        height: 30px; /* Đặt chiều cao khung */
        overflow: hidden; /* Ẩn phần chữ vượt ra ngoài */
        display: -webkit-box; /* Thiết lập khung flexbox */
        -webkit-line-clamp: 3; /* Giới hạn số dòng hiển thị */
        line-clamp: 3;
        -webkit-box-orient: vertical; /* Định hướng khung theo chiều dọc */
        text-overflow: ellipsis; /* Hiển thị dấu "..." */
    }
    
}